html {
  font-size: 10px;
}

body {
  background-color: #80808047;
  margin: 0;
  max-width: 400px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.option-field {
  display: flex;
  justify-content: space-between;
}

.information-field {
  display: flex;
}

.steps-container {
  display: flex;
  align-items: baseline;
  margin-right: 50px;
}

.time-container {
  display: flex;
  align-items: baseline;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 3px solid #27272280;
  box-sizing: border-box;
}

.cub {
  background-color: #27272280;
  border: 2px solid #dbdbdb;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #dbdbdb;
  cursor: pointer;
}

.free {
  background-color: #dbdbdb;
}

.factSize {
  display: flex;
  align-items: baseline;
}

.changeSize {
  display: flex;
}

button:hover {
  cursor: pointer;
}

.sizesField {
  display: flex;
  flex-direction: column;
  align-items: center;
}
